body {

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
/*  line-height: 2;*/
  font-size: 5.625em;
  color: #66BFBF;
  margin-bottom: 90px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  /*font-weight: normal;*/
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
p{
  line-height: 3;
    margin-bottom: 40px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  text-align: center;
  padding: 50px 0 20px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.dev {
  text-decoration: overline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr {
  border-style: dotted none none none;
  border-color: black;
  border-width: 5px;
  width: 5%
}

a {
  color: #11999E;
}
.mern{
  text-decoration: underline;
}

.pro{
  height: 200px;
  width: 200px;
  margin-top: 20px;
}
.skill{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.secondarySkill{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me{
  width: 30%;
  margin: 10px auto;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #22bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #22bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #22bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #22bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #22bc4ad);
  text-decoration: none;
}
a{
  color:#11999E;
  text-decoration: none;
  margin: 50px;
}
a:hover{
  color: black;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.footer-link{
  color: #ecdbba;
}
